body {
  background-image: url("image/drawing.jpg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
#box {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin-top: 80px;
  margin-left: 450px;
  width: 20px;
}

.grid-item {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: white;
}
#clear {
  padding: 20px;
  margin-top: 50px;
  margin-left: 30px;
  background-image: none;
  background-color: yellow;
  color: black;
  font-weight: 800;
  font-family: cursive;
}
.header {
  color: black;
  font-family: cursive;
  font-weight: bold;
  margin-left: 30px;
  margin: 25px;
}
#enterbox {
  width: 210px;
  padding: 10px;
  background-color: gold;
}
#box_size {
  margin-left: 20px;
}
.footer {
  background-color: #f8f8f8;
  padding: 5px;
  text-align: center;
  color: black;
}

.footer--name {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.footer--name:hover {
  text-decoration: underline;
}

.footer--copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: #777;
}
